# **Obdachlosigkeit im globalen Vergleich**

# 1. Fragestellung und Datenbeschaffung

**1.1 Team:**
- Jasleen Bal
- Luana Birtone
- Katarina Djuric

**1.2 Fragestellung**

- Welche Länder waren im Jahr 2023 am meisten von der Obdachlosigkeit betroffen?
- Was sind Gründe für die Obdachlosigkeit in jeweiligen Länder?

**1.3 Datenquellen**
- [OurWorldInData_Obdachlosigkeit](https://ourworldindata.org/grapher/homelessness-rate-point-in-time-count)
- [OurWorldInData_Population](https://ourworldindata.org/grapher/population-with-un-projections?tab=table&globe=1&globeRotation=65%2C-50.69)

# 2. Daten beschaffen und laden

In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
df1 = pd.read_csv('homelessness-rate-point-in-time-count.csv')
df1 = df1.rename(columns={"Rate of people experiencing homelessness (point-in-time, ETHOS 2 and 3)":"Obdachlosigkeit ETHOS 2 und 3", "Entity":"Land", "Year":"Jahr"})
df1.drop("Rate of people experiencing homelessness (point-in-time, ETHOS 1)", axis=1, inplace=True)
df1.drop("Rate of people experiencing homelessness (point-in-time, ETHOS 1, 2 and 3)", axis=1, inplace=True)
df1_sortiert = df1.sort_values(by="Obdachlosigkeit ETHOS 2 und 3", ascending=False)
df1_sortiert.head(10)

              Land Code  Jahr  Obdachlosigkeit ETHOS 2 und 3
20  United Kingdom  GBR  2023                     409.802730
6           France  FRA  2022                     298.781680
10         Ireland  IRL  2023                     253.438260
7          Germany  DEU  2022                     212.534940
3          Czechia  CZE  2022                     198.428830
13     New Zealand  NZL  2018                     130.759490
21   United States  USA  2023                     116.730850
0        Australia  AUS  2021                      94.549700
1           Canada  CAN  2022                      80.688620
4          Denmark  DNK  2022                      54.190987

In [4]:
df2 = pd.read_csv("population-with-un-projections.csv")
df2 = df2.rename(columns={"Entity":"Land", "Year":"Jahr", "Population - Sex: all - Age: all - Variant: estimates":"Einwohnerzahl" })
df2.drop("Population - Sex: all - Age: all - Variant: medium", axis=1, inplace=True)
df2.head(10)

          Land Code  Jahr  Einwohnerzahl
0  Afghanistan  AFG  1950      7776180.0
1  Afghanistan  AFG  1951      7879343.0
2  Afghanistan  AFG  1952      7987784.0
3  Afghanistan  AFG  1953      8096703.0
4  Afghanistan  AFG  1954      8207954.0
5  Afghanistan  AFG  1955      8326981.0
6  Afghanistan  AFG  1956      8454303.0
7  Afghanistan  AFG  1957      8588340.0
8  Afghanistan  AFG  1958      8723412.0
9  Afghanistan  AFG  1959      8869270.0

In [ ]:
merged=pd.merge(df1_sortiert, df2, how='inner', on= "Land").head(10)
merged.head(50)


#Die Obdachlosigkeit betrifft die Rate von 100000 Einwohner, wir wollen aber die Rate der gesamten Einwohnerzahl, also müssen wir irgendwie so
#berechnen -> Ich schaue das ich es dieses Wochenende noch irgendwie hinbekomme -> Luana

,Land,Code_x,Jahr_x,Obdachlosigkeit ETHOS 2 und 3,Code_y,Jahr_y,Einwohnerzahl
0,United Kingdom,GBR,2023,409.80273,GBR,1950,50121020.0
1,United Kingdom,GBR,2023,409.80273,GBR,1951,50346821.0
2,United Kingdom,GBR,2023,409.80273,GBR,1952,50496231.0
3,United Kingdom,GBR,2023,409.80273,GBR,1953,50727035.0
4,United Kingdom,GBR,2023,409.80273,GBR,1954,50958246.0
5,United Kingdom,GBR,2023,409.80273,GBR,1955,51176749.0
6,United Kingdom,GBR,2023,409.80273,GBR,1956,51400458.0
7,United Kingdom,GBR,2023,409.80273,GBR,1957,51655911.0
8,United Kingdom,GBR,2023,409.80273,GBR,1958,51935640.0
9,United Kingdom,GBR,2023,409.80273,GBR,1959,52226466.0