# Obdachlosigkeit im globalen Vergleich
Team: 
- Jasleen Bal
- Luana Birtone
- Katarina Djuric

Fragen

- Welche Länder waren im Jahr 2023 am meisten von der Obdachlosigkeit betroffen?
- Was sind Gründe dafür?

Quellen
- https://ourworldindata.org/grapher/homelessness-rate-point-in-time-count

# 1. Daten beschaffen und laden

In [4]:
import pandas as pd
from matplotlib import pyplot as plt

In [11]:
df = pd.read_csv('homelessness-rate-point-in-time-count.csv')
df.head(10)

,Entity,Code,Year,"Rate of people experiencing homelessness (point-in-time, ETHOS 1)","Rate of people experiencing homelessness (point-in-time, ETHOS 2 and 3)","Rate of people experiencing homelessness (point-in-time, ETHOS 1, 2 and 3)"
0,Australia,AUS,2021,29.737530,94.549700,NaN
1,Canada,CAN,2022,23.891660,80.688620,NaN
2,Costa Rica,CRI,2023,NaN,NaN,86.085060
3,Czechia,CZE,2022,85.877396,198.428830,NaN
4,Denmark,DNK,2022,9.051570,54.190987,NaN
5,Finland,FIN,2023,NaN,NaN,15.621677
6,France,FRA,2022,8.095070,298.781680,NaN
7,Germany,DEU,2022,45.943825,212.534940,NaN
8,Greece,GRC,2023,NaN,13.344173,NaN
9,Iceland,ISL,2021,52.077324,NaN,NaN